default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password: postgres
  pool: 5

development:
  <<: *default
  database: name_randomizer_development


test:
  <<: *default
  database: name_randomizer_test
